<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bisan">

    <permission
        android:name="com.android.pharmacy.myapplication.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.android.pharmacy.myapplication.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Tools.ApplicationClass"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Activities.Wallet_Act"></activity>
        <activity android:name=".UI.Activities.Address_Act" />
        <activity android:name=".UI.Activities.About_Act" />
        <activity
            android:name=".UI.ModalActivities.Modal_paydone"
            android:theme="@style/DialogActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bisaan"
                    android:scheme="zarinpayment" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Activities.Map_Act" />
        <activity android:name=".UI.Activities.Favorite_Act" />
        <activity
            android:name=".UI.ModalActivities.Modal_details"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".UI.ModalActivities.Modal_basket"
            android:theme="@style/DialogActivity" />
        <activity android:name=".UI.Activities.Splash_Act">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Activities.Details_Act" />
        <activity android:name=".UI.Activities.Activation_Act" />
        <activity android:name=".UI.Activities.Login_Act" />
        <activity android:name=".UI.Activities.Profile_Act" />
        <activity
            android:name=".UI.ModalActivities.Modal_filter"
            android:theme="@style/DialogActivity" />
        <activity android:name=".UI.Activities.Main_Act" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyBTSMFWvjjNyLImprxJKNY29FIs3nP-DG4" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCII8Avqrt-tBZBaLs3CWygkFglhgBWU9s" />
    </application>

</manifest>